.bodyFormat{
  background-color:#987F5B;
}

.headerImage{
  width: 17%;
  height: 150px;
}

.fit {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  padding: 350px;
}

/* .sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
} */

